<div>
    <div>
        <h3>{{title}}</h3>
        <p>Posted by
            {{user.username}}
            on
            {{format_date date_created}}</p>
    </div>
    <div>
        <p>{{contents}}</p>
    </div>
</div>
<div>
    <di></di>
    <div>
        <h3>Comment</h3>
        {{#if logged_in}}
            <form class="comment-form" data-blogid={{id}}>
                <textarea
                    name="comment"
                    id="comment"
                    cols="30"
                    rows="10"
                ></textarea>
                <input type="submit" />
            </form>
        {{/if}}

        {{#if comments.length}}
            {{#each comments as |comment|}}
                <p>{{comment.comment}}</p>
                <p>{{comment.user.username}}</p>

            {{/each}}

        {{/if}}
    </div>
</div>

<script src="/js/comment.js"></script>