<section class='comment-section'>
  <article>
    <div class='top'>
      <h3 class='title'><a href='/blog/{{blog.id}}'>{{title}}</a></h3>
      <p class='date'>
        Posted by
        {{user.username}}
        on
        {{format_date date}}
      </p>
    </div>
    <div class='bottom'>
      <p>{{content}}</p>
    </div>

  </article>
  <div class='form-wrapper'>
    <form class='new-comment-form' data-blogid='{{blog.id}}'>

      <div class='form-header'></div>
      <p>Comment</p>
      <div>
        <textarea id='comment-text' rows='6'></textarea>
      </div>
      <div>
        <button type='submit' class='btn'>Add comment</button>
      </div>
    </form>
  </div>
</section>

{{#if loggedIn}}
  <script src='./js/comment.js'></script>
{{/if}}